@model LafDeposu.Helper.Models.SearchShare

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/sbundles/index")
}

<div ng-controller="wordListCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="edit-button" class="btn btn-default" type="button" title="Türkçe Karakterler"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button id="trk-c-button" class="btn btn-default hidden" type="button">ç</button>
                    <button id="trk-g-button" class="btn btn-default hidden" type="button">ğ</button>
                    <button id="trk-i-button" class="btn btn-default hidden" type="button">ı</button>
                    <button id="trk-o-button" class="btn btn-default hidden" type="button">ö</button>
                    <button id="trk-s-button" class="btn btn-default hidden" type="button">ş</button>
                    <button id="trk-u-button" class="btn btn-default hidden" type="button">ü</button>
                </div>
                <input type="text" id="srch-term" name="srch-term" class="form-control" placeholder="Harfleri Yazınız" ng-model="chars" />
                <div class="input-group-btn">
                    <button id="srch-button" class="btn btn-default" type="submit" ng-click="findWordsClick()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div id="filterAncContainer" class="row">
        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="resultCharCount" ng-model="resultCharCount"> İki harfli kelimeleri göster
                </label>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <a id="filterAnchor" href="#" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span>Filtre</a>
                <a href="/Yardim/#Filtre" title="Yardım" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div>
        </div>
    </div>

    <div id="filters" class="row hidden">
        <div class="col-md-4">
            <input type="text" id="startsWith" name="startsWith" class="form-control" placeholder="Başlayan" ng-model="startsWith">
        </div>
        <div class="col-md-4">
            <input type="text" id="contains" name="contains" class="form-control" placeholder="İçeren" ng-model="contains">
        </div>
        <div class="col-md-4">
            <input type="text" id="endsWith" name="endsWith" class="form-control" placeholder="Biten" ng-model="endsWith">
        </div>
    </div>

    <hr />

    <div id="loadingContainer" class="row hide">
        <div class="col-md-12 small text-center">
            <div id="loading"><img src="~/content/img/ajax-loader.gif" alt="Yükleniyor" width="32" height="32" /> Yükleniyor lütfen bekleyiniz</div>
        </div>
    </div>

    <div class="row ng-cloak" ng-show="share">
        <div class="col-md-12">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a id="shareResult" href="/?{{share.queryString}}" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Paylaş</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-click="changeListType(1)" ng-class="{active: listType == 1}"><span class="glyphicon glyphicon-th"></span> Sütun</button>
                            <button type="button" class="btn btn-default" ng-click="changeListType(0)" ng-class="{active: listType != 1}"><span class="glyphicon glyphicon-th-list"></span> Liste</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ng-cloak">
            <div ng-if="listType == 1">
                <table class="table table-striped" ng-repeat-end>
                    <thead>
                        <tr>
                            <th ng-repeat="item in wordList" style="width:{{100/wordList.length}}%;">{{item.length}} Harfli Sonuçlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="key in wordList.maxRowCount()">
                            <td ng-repeat="item in wordList">
                                <div title="{{item.words[key].m}}" ng-bind-html="item.words[key].w"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="listType != 1">
                <h4 ng-repeat-start="item in wordList">{{item.length}} Harfli Sonuçlar</h4>
                <table class="table table-striped table-detail" ng-repeat-end>
                    <tbody>
                        <tr ng-repeat="word in item.words">
                            <td><div ng-bind-html="word.w"></div></td>
                            <td>{{word.m}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scriptsBottom
{
    @Scripts.Render("~/bundles/index")

    @if (!string.IsNullOrEmpty(Model.Keyword))
    {
        <script type="text/javascript">
            $(function () {
                $("#srch-term").val("@Model.Keyword");

                @if (!string.IsNullOrEmpty(Model.StartsWith) || !string.IsNullOrEmpty(Model.Contains) || !string.IsNullOrEmpty(Model.EndsWith))
            {
                <text>
                $("#startsWith").val("@Model.StartsWith");
                $("#contains").val("@Model.Contains");
                $("#endsWith").val("@Model.EndsWith");
                $("#filterAnchor").trigger("click");
                </text>
            }

                @if (Model.ResultCharCount.HasValue && Model.ResultCharCount.Value.Equals(2))
            {
                <text>
                $("#resultCharCount").trigger("click");
                </text>
            }

                $("input").trigger("input");
                $("#srch-button").click();
            });
        </script>
    }
}